.login .error {
    font-size: 8px;
    color: red;
    text-align: left;
    margin-left: 360px;
    margin-right: 360px
}
.login .error.message{
    font-size: 8px;
}

.login-button {
    display: flex;
    align-items: center;
    padding: 6px 0px 6px 12px;
  }
  
  .login-button span {
    flex: 1; /* Take up remaining space */
  }
  
  .right.chevron.icon {
    margin-left: 8px;
  }
