.login .error {
    font-size: 8px;
    color: red;
    text-align: left;
    margin-left: 360px;
    margin-right: 360px
}
.login .error.message{
    font-size: 8px;
}

.login-button {
    display: flex;
    align-items: center;
    padding: 6px;
}

.login-button .right.chevron.icon {
    margin-left: 8px;
    color: grey;
}
.login-button i{
    width: max-content;
    margin-right: 0px;
}
